
* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none; 
    
}



body {
    background: white;
    font-family: 'Asap', sans-serif;
    font-size: large;
    min-width: 200px;
}

#inputBox-edit-user {
    background-color: white;
    padding: 1em;
	border: 1px solid black;
	border-radius: 0.2em;
    width: 27em;
    height: 3em;
}

#button-CMS{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    height: 2em;
    color: white;
    font-size: 25px;
    font-weight: 600;
    width: 14em;
    margin-right: 4px;
    margin-left: 4px;
}

table{
    width: 50%; 
    border-collapse: collapse; 
    
    }

    th, td {
    padding: 20px;
    border: 1px solid #ddd; 
    text-align: center;
    }

    thead {
    background-color: #eeeeee;
    }

.content{
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    
}

.flexbox-header{
    width: 100%; 
    height: 90px;
    align-items: center;
    justify-content: center;
    background: rgb(200, 208, 231);
    display: flex;
    font-size: small;
    gap:6vw
    
}

.profile-container{
    margin: 0 auto;
    display: flex;
    gap: 2em;
    font-size: 1rem;
    padding: 2em;
    

}

.flexbox-header div.logout{
    flex-basis: 10%;
    
}

.flexbox-header h1 {
    margin: 0; 
    color: black;
}

.flexbox-container1{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(30, 30, 30, 0.99) 0%, rgba(30, 30, 30, 0) 100%),url(img/background_image.webp) ;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
    color: white;

}

.wyszukiwarka{
    width: 40%;
    height: 40%;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 20% 20% ;
    gap:20px;
    border-radius: 5px;
    justify-content: center;
    padding: 25px;
}

.wyszukiwarka input[type='text'] {
    color: #999; 
    
  }

.button-view-more{
    background-color: #c8d0e7;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    margin-top: 15px;
    height: 30px;
    width: 10%;
   font-size: medium;
}
#button-SEARCH{
    background-color: rgb(200, 208, 231);
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    grid-column: 1/5;
    height: 120%;
}



#flexbox-featured{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 700px;
    background-color: white;
    text-align: center;
    flex-direction: column;
    
}

.featured{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
    margin:  35px;
    justify-content: center;
    flex-wrap: wrap;
    
}



#flexbox-For-sale{
    padding: 15px;
    width: 100%;
    min-height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 70px;
    flex-direction: column;
}

.offer-images {
    display: flex;
    justify-content: center;
    gap: 0.25vw;
    flex-wrap: wrap;
}

#additional-images-sale {
    display: none; 
    justify-content: center;
    gap: 20px;
    justify-content: center;
}

#flexbox-For-rent{
    width: 100%;
    min-height: 450px; 
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

#additional-images-rent {
    display: flex;
    gap: 1vw;
    margin: 1vh;
    
}

.flexbox-about {
    width: 100%;
    background-color: rgb(200, 208, 231);
    display: flex;
    padding: 3%; 
    gap: 20%; 
    flex-wrap: wrap;
    justify-content: center;
    
}

#AboutUs-items{
    border: 2px solid red;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#AboutUs-image {
    border: 2px solid red;
    max-width: 300px; 
    height: auto; 
}

#AboutUs-text {
    border: 2px solid red;
    flex-basis: 40%; 
    text-align: justify; 
    padding: 1%; 
}




#footer{
    align-items: center;
    align-content: center;
    width: 100%;
    height: 500px;
    background-color: rgb(215, 215, 215);
    gap: 220px;      
    
}
#footer-items{
    display:flex;
    align-content: center;
    align-items: center;
    gap: 13vw;
    border: 2px solid red;
    flex-wrap: wrap;
}

#contact{
    white-space: nowrap;
    border: 2px solid red;
}

#socials-icons{
    display: flex;
    gap: 25px;
    border: 2px solid red;
}

#links {
    width: 20%;
    line-height: 1.5;
    border: 2px solid red;
    white-space: nowrap;
    text-align: center;
}

@media screen and (max-width:1000px){
    
}




